* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0px
}


body {
    min-height: 100vh;
    min-width: 1080px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;

}

.page-mainer {
    flex: 1;
}


.page-sider {
    position: fixed;
    bottom: 160px;
    right: 0;
    z-index: 2023;
    box-shadow: -1px 2px 3px #ddd;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100px;
}

.page-sider-item {
    width: 50px;
    height: 50px;
}

.sider-item-tel {
    background: url(https://www.jiker.com/_nuxt/img/479d1c8.png) no-repeat 0 0;
    background-size: 50px 50px;
}

.sider-item-tel:hover {
    background: url(https://www.jiker.com/_nuxt/img/41fd392.png) no-repeat 0 0;
    background-size: 50px 50px;
}

.sider-item-wechat {
    background: url(https://www.jiker.com/_nuxt/img/09b31b9.png) no-repeat 0 0;
    background-size: 50px 50px;
}

.sider-item-wechat:hover {
    background: url(https://www.jiker.com/_nuxt/img/bafdec9.png) no-repeat 0 0;
    background-size: 50px 50px;
}

.page-header {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);
    height: 110px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.page-header-wrapper {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 110px;
}

.page-header-logo-container {
    width: 189px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-header-logo {
    width: 135px;
    height: 61px;
    margin-right: 54px;
}

.page-header-info-container {
    margin-top: 15px;
}

.page-header-search-box {
    display: flex;
    justify-content: space-between;
    width: 1051px;
}


.search-box-hd {
    width: 756px;
    height: 36px;
    font-size: 0;
    position: relative;
}


.header-search-input {
    width: 643px;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
    border-radius: 4px 0 0 4px;
    border: none;
    color: #606266;
    outline: 0;
    padding: 0 15px 0 30px;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 3868315 */
    src: url('https://at.alicdn.com/t/c/font_3868315_o3cvbmjr8zb.woff2?t=1674252504242') format('woff2'),
        url('https://at.alicdn.com/t/c/font_3868315_o3cvbmjr8zb.woff?t=1674252504242') format('woff'),
        url('https://at.alicdn.com/t/c/font_3868315_o3cvbmjr8zb.ttf?t=1674252504242') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.header-search-magnifier {
    position: absolute;
    left: 5px;
    display: block;
    width: 25px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-size: 10px;
    color: #606266;

}


.header-search-btn {
    display: inline-block;
    width: 68px;
    height: 36px;
    border: none;
    background-color: #d8d8d8;
    color: #909399;
    border-radius: 4px;
    padding: 0 20px;
}

.header-search-login {
    display: block;
    width: 105px;
    height: 32px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 32px;

}

.page-header-nav-box {
    box-sizing: border-box;
    padding: 19px 0 0;
    display: flex;
    justify-content: space-between;


}

.page-header-nav {
    font-size: 0;
}

.header-nav-item {
    color: #333333;
    margin: 0 40px 0 0;
    padding: 0 0 18px;
    font-size: 16px;
}



.nav-item-cloud::after {
    content: "";
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/8d29de5.png) 0 0 no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.page-header-subnav {
    font-size: 0;
}

.header-subnav-item {
    color: #858585;
    margin: 0 0 0 40px;
    padding: 0 0 18px;
    font-size: 14px;
    line-height: 23px;
}

.subnav-item-money::before {
    content: "";
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/ef576c1.png) 0 0 no-repeat;
    background-size: contain;
    width: 17px;
    height: 20px;
    margin-right: 8px;
    vertical-align: top;
}

.subnav-item-community::after {
    content: "";
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/89e16cb.jpeg) 0 0 no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: top;
}


.banner-section {
    position: relative;
    background-color: #252222;
}


.banner-section-cover {
    display: block;
    height: 380px;
    width: 100%;
    background-size: 1920px 380px;
    background-image: url(https://assets.jiker.com/_for_plus_sub_project/2020/0608/admin/I1iOPrCq0ve7QUzRud3Wxk361vHc8l9FLM5VzzAz.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.banner-section-float-ads {
    position: absolute;
    top: 55px;
    right: 50%;
    margin-right: -620px;
    display: block;
    width: 210px;
    height: 130px;
    background-image: url(https://assets.jiker.com/_for_ad_sub_project/2020/0619/admin/LXxQHaDxwhMFDllJXHBlvkV6Js2kfHZEbw07cmeZ.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-section-sider-container {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -620px;
    width: 210px;
    height: 360px;
}

.banner-section-sider-box {
    box-sizing: border-box;
    width: 210px;
    height: 40px;
    background-color: #25222280;
    padding-left: 20px;
    position: relative;


}

.banner-section-sider-item {
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}

.banner-section-sider-item::after {
    content: ">";
    position: absolute;
    right: 10px;
    color: #858585;
}

.ads-section-hd {
    background-color: #fff;
    padding: 40px 0;
}

.ads-section-hd-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin: 0 auto;


}

.ads-section-hd-skill-container {
    box-sizing: border-box;
    width: 945px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.ads-section-hd-skill-img {
    margin: 0 20px 10px 0;
    box-sizing: border-box;
    width: 295px;
    height: 56px;

}


.ads-ssection-hd-group-container {
    height: 122px;
    width: 295px;
    display: flex;
    justify-content: space-between;

}

.ads-section-hd-group-img {
    width: 142px;
    height: 122px;

}


.ads-section-bd {
    background-color: #f5f5f5;
    padding: 40px 0;
}

.ads-section-bd-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 1240px;
    margin: 0 auto;
    padding-left: 315px;
    position: relative;
}


.ads-section-bd-cover-img {
    width: 295px;
    height: 380px;
    position: absolute;
    left: 0;
    top: 0;

}

.ads-section-bd-course-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



.ads-section-bd-course-img-free {
    width: 295px;
    height: 180px;
    margin: 0 20px 20px 0;

}

.ads-section-bd-course-img-python {
    width: 610px;
    height: 180px;
    margin: 0 0 20px 0;

}

.ads-section-bd-course-img-need {
    width: 610px;
    height: 180px;
    margin: 0 20px 0 0;

}

.ads-section-bd-course-img-vip {
    width: 295px;
    height: 180px;
}

.ads-section-ft {
    background-color: #303738;
    text-align: center;
    height: 220px;
}

.ads-section-ft-img {
    width: 1440px;
    height: 220px;
}

.career-plus-section {
    width: 1240px;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;

}

.plus-section-title-container {
    display: flex;
    justify-content: left;
    padding: 40px 0 20px;
    line-height: 20px;

}

.plus-section-title {
    margin-right: 12px;
    font-weight: 700;
    line-height: 26px;
    font-size: 26px;
    color: #333;
}

.plus-section-subtitle {
    font-size: 14px;
    color: #666;
    line-height: 20px;


}

.plus-section-subtitle::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: url(https://www.jiker.com/_nuxt/img/36330ef.svg)0 0 no-repeat;
    background-size: contain;

}

.plus-section-course-container {
    width: 630px;
    display: flex;
    justify-content: space-between;
}

.plus-section-datacourse-container {
    display: block;
    position: relative;
    width: 295px;
    height: 360px;
    background: #fff;
    margin: 0 20px 0 0;
}

.datacourse-cover {
    width: 295px;
    height: 170px;
}

.cover-container-open {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 95px;
    height: 30px;
    background: url(https://www.jiker.com/_nuxt/img/d6895d3.svg);
}

.datacourse-content-container {
    padding: 17px 25px 30px;
    height: 190px;
}

.datacourse-content-date-box {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.datacourse-content-date-days::before {
    content: "";
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/10c37ef.svg) no-repeat;
    margin-right: 10px;
    width: 16px;
    height: 16px;


}

.separate {
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 10px;
    color: #999;
}

.datacourse-content-description {
    height: 60px;
    margin: 13px 0 18px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.datacourse-content-name {
    box-sizing: border-box;
    width: 245px;
    padding-left: 26px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #333;

}

.datacourse-content-name::before {
    content: "";
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/8c0abb4.svg) no-repeat;
    margin-right: 10px;
    width: 16px;
    height: 16px;

}


.career-section-course-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 610px;

}

.career-section-python {
    width: 295px;
    height: 170px;
    margin-bottom: 20px;
    background: url(https://assets.jiker.com/_for_zhiye_sub_project/2020/0324/admin/PgKoQwpaiVVgjwn1SRrZA4Zweuvt61mbkJUEzgO8.png) center center / 295px 170px no-repeat;
}

.career-section-business {
    width: 295px;
    height: 170px;
    margin-bottom: 20px;
    background: url(https://assets.jiker.com/_for_zhiye_sub_project/2020/0324/admin/9xaW9n53TLogaRQ0M1iGdHQZf0dYqIh6px5hfskM.png) center center / 295px 170px no-repeat;
}

.career-section-web {
    width: 295px;
    height: 170px;
    margin-bottom: 20px;
    background: url(https://assets.jiker.com/_for_zhiye_sub_project/2020/0324/admin/mZdnKXEbYuGo7qqRqk2CIqKaDUUBi17kKFs40sej.png) center center / 295px 170px no-repeat;

}

.career-section-java {
    width: 295px;
    height: 170px;
    margin-bottom: 20px;
    background: url(https://assets.jiker.com/_for_zhiye_sub_project/2020/0324/admin/vfn7XnNL5vN396ztHxnSYMWQXLbg4W86D0EPPpCj.png) center center / 295px 170px no-repeat;

}

.course-section {
    margin: 0 auto 40px;
    width: 1240px;

}

.course-section-title-container {
    padding: 40px 0 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;

}

.course-section-title-hd {
    display: inline-block;
    margin-right: 12px;
    font-weight: 700;
    line-height: 26px;
    font-size: 26px;
    color: #333;
}

.course-section-title-bd {
    display: inline-block;

}


.title-bd-item {
    color: #666;
    font-size: 14px;
    line-height: 20px;

}

.title-bd-item:hover {
    color: #0fc700;
    transition: all .3s ease;
}

.title-bd-line {
    color: #0fc700;

}


.course-section-title-ft {
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.course-section-title-ft:hover {
    color: #0fc700;
    transition: all .3s ease;
}

.course-section-title-ft::after {

    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: url(https://www.jiker.com/_nuxt/img/36330ef.svg)0 0 no-repeat;
    background-size: contain;
}


.course-section-list-container {
    display: flex;
    flex-wrap: wrap;
}

.course-section-list-item {
    display: inline-block;
    margin-right: 20px;
    width: 295px;
    background-color: #fff;

}

.course-section-list-item:nth-child(n+5) {
margin-top: 30px;

}

.list-item-edge {
    margin-right: 0px;

}

.list-cover-container {
    position: relative;
    width: 100%;
    height: 170px;

}

.list-cover-img {
    width: 295px;
    height: 170px;
}


.list-cover-category {
    width: 44px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0fc700;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    border-radius: 0 0 11px 0;
}

.list-cover-primary {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    width: 45px;
    height: 28px;
    background: url(https://www.jiker.com/_nuxt/img/e77a32a.svg);
}

.list-cover-freshman {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    width: 45px;
    height: 28px;
    background: url(https://www.jiker.com/_nuxt/img/e4cb79e.svg);
}

.list-cover-middle {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    width: 45px;
    height: 28px;
    background: url(https://www.jiker.com/_nuxt/img/00e5a8a.svg);
}

.list-cover-label-box{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
}

.list-cover-label{
    height: 26px;
    padding: 0 10px;
    background-color: hsla(0,0%,100%,.59);
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    border-radius: 13px;
    margin-bottom: 10px;
    color: #333;
    margin-right: 10px;
}



.list-content-container {
    padding: 15px 20px 20px 25px;
    background: #fff;


}

.list-content-title {
    height: 56px;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #333;

}

.list-content-text {
    height: 20px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;


}

.list-content-desc {
    color: #999;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
}

.content-desc-hour::before {
    content: "";
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/a660c2d.svg) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.list-content-price {
    height: 32px;
    margin-top: 10px;
    color: #ff4000;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    line-height: 32px;
    font-size: 16px;

}

.list-content-price-symbol {
    font-size: 14px;
    color: #ff4000;
    line-height: 20px;
    font-weight: 500;
}

.list-content-price-current {
    font-size: 24px;
    font-weight: 700;
    color: #ff4000;
    line-height: 24px;

}

.list-content-price-original {
    color: #999;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 8px;
    line-height: 20px;


}

.course-section-coursemore-container {
    width: 144px;
    height: 44px;
    border: 1px solid #999;
    font-size: 14px;
    color: #666;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-section-coursemore::after {

    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: url(https://www.jiker.com/_nuxt/img/36330ef.svg)0 0 no-repeat;
    background-size: contain;
}

.page-footer {
    background-color: #252222;
    padding: 50px 100px 57px;
    text-align: center;
    font-weight: 400;
}

.page-footer-wrapper {
    width: 1240px;
    margin: 0 auto;

}

.page-footer-bd {
    display: flex;
    align-items: flex-start;
    padding-bottom: 34px;
    border-bottom: 1px solid #414141;
}

.footer-bd-logo-container {
    text-align: left;
    margin-right: 128px;
}


.footer-bd-logo {

    width: 156px;
    height: 70px;
    margin-bottom: 15px;

}

.footer-bd-logo-desc {
    display: block;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #bbb;
    letter-spacing: 2px;
    margin-bottom: 40px;
}


.footer-bd-logo-phone-title {
    height: 22px;
    margin-bottom: 6px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.footer-bd-logo-phone-number {
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #d5d5d5;
    margin-bottom: 11px;
}


.footer-bd-logo-connect {
    display: block;
    width: 144px;
    height: 43px;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 43px;
    color: #fff;


}

.footer-bd-nav-container {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.footer-bd-nav-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
}

.footer-bd-nav-item-title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-right: 20px;
}

.footer-bd-nav-item {
    height: 20px;
    line-height: 20px;
    color: #d5d5d5;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
}

.footer-bd-cooperate-container {
    width: 383px;
    margin-right: 54px;

}

.footer-bd-cooperate-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
}



.footer-bd-cooperate-logos {
    display: flex;
    width: 383px;
    flex-wrap: wrap;
}

.cooperate-logo {
    display: inline-block;
    height: 25px;
    width: auto;
    margin-bottom: 5px;
}

.footer-bd-serve-container {
    text-align: left;
    width: 144px;

}

.footer-bd-serve-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: left;
    color: #fff;
}

.footer-bd-serve-box {
    width: 144px;
    margin-bottom: 8px;
    height: 43px;
    background-color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 43px;
    color: #fff;
}

.footer-bd-serve-tip {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 20px;
    color: #d5d5d5;
}


.serve-building {
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/5399c3d.svg);
    margin-right: 6px;
    position: relative;
    top: 2px;
    width: 18px;
    height: 15px;
}

.serve-school {
    display: inline-block;
    background: url(https://www.jiker.com/_nuxt/img/684aa50.svg);
    margin-right: 6px;
    position: relative;
    top: 2px;
    width: 18px;
    height: 15px;
}

.page-footer-ft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}

.footer-ft-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-ft-icon-weibo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(https://www.jiker.com/_nuxt/img/56b6ce7.svg)0 0 no-repeat;
    margin-right: 25px;


}

.footer-ft-icon-twitter {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(https://www.jiker.com/_nuxt/img/8e3e38a.svg)0 0 no-repeat;
    margin-right: 25px;


}

.footer-ft-icon-github {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(https://www.jiker.com/_nuxt/img/4297efa.svg)0 0 no-repeat;
    margin-right: 0;


}

.footer-ft-copyright-container {
    height: 17px;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    color: #8e8e8e;
}



.page-inviting-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0ca800;
    height: 81px;
    color: #fff;
}

.inviting-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
margin: 0 auto;    
height: 81px;
}

.inviting-bar-text{
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
}

.inviting-bar-text span{
 font-weight: 700;
}

.inviting-bar-text::before{
    content: "";
    display: inline-block;
    width: 154px;
    height: 76px;
    background-image: url(https://www.jiker.com/_nuxt/img/39594a9.svg);
    background-size: 100% 100%;
}

.inviting-bar-option{
display: flex;
align-items: center;
}

.inviting-bar-option-btn{
    color: #fff;
    background-color: #333;
    border: none;
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    font-size: 12px;
}

.option-btn-arrow{
    margin-left: 10px;
    width: 10px;
    height: 14px;
    display: inline-block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGw0LjIzIDYuNjVMMCAxNGwxMC03LjM1eiIgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
    background-repeat: no-repeat;
}

.inviting-bar-option-close{
    content: "";
    display: inline-block;
    margin-left: 46px;
    width: 20px;
    height: 20px;
    background-image: url(https://www.jiker.com/_nuxt/img/ac5e1b6.svg);
    background-size: 100% 100%;
    cursor: pointer;
}